{{!--
    Shared navigation menu partial.
    Renders the top navigation bar with links to the Galleries, Home, and About pages.
--}}

<nav class="ui stackable menu">
    <div class="ui container">
        <a id="dashboard" class="ui header left aligned item" href="/galleries">Galleries</a> {{!-- Link to the Galleries dashboard page --}}
        <a id="home" class="ui header center aligned item" href="/"> {{!-- Link to the Homepage --}}
            <img src="/PG_icon .png" alt="Photo Gallery" style="width: 50px; height: 150px; height: auto;"> {{!-- Display the app icon in the centre of the navbar --}}
        </a>
        <a id="about" class="ui header right aligned item" href="/about">About</a> {{!-- Link to the About page --}}
    </div>
</nav>

<script>"/public/script.js"</script> {{!-- Load the public script for interactive functionality --}}