<nav class="ui centered menu">
        <img src="/PG_logo.png" alt="Gallery App Logo" style="width: 500px; height: auto;"> {{!-- Display the app logo in the centre of the navbar --}}
</nav>

<script>
    document.querySelector("#{{id}}").classList.add("active");
</script>