{{> menu}}

<form class="ui stacked segment form" action="/changepassword" method="POST"
    style="max-width: 400px; margin: 50px auto; background-color: #1A1D24; padding: 20px; border-radius: 10px;">
    <h3 class="ui header">Change Password</h3>

    {{#if error}}
        <div class="ui red message">Incorrect current password, try again.</div>
    {{/if}}

    <div class="field">
        <label>Current Password</label>
        <input type="password" name="currentPassword" placeholder="Enter current password" required>
    </div>

    <div style="text-align: center;">
        <button class="ui blue submit button" style="width: 150px;">Next</button>
    </div>
</form>