{{> welcomemenu id="forgotpassword"}}
    <div class="ui  column centered grid">
        <form class="ui stacked centered segment form" action="/forgotpassword" method="POST"
            style="background-color: #1A1D24; padding: 20px; border-radius: 10px; margin-top: 50px;">
            <h3 class="ui header">Reset Password</h3>
            <p style="color: white;">Enter your email address to reset your password. <br> If the email is registered,
                your password will be reset to <br> "<b
                    style="font-size: 25px; text-decoration: underline;">password</b>".</p>
            <p style="color: white; text-decoration: underline;"><b>Please change your password after logging in.</b>
            </p>
            {{!-- Display error message if there is an error in the view data --}}
            {{#if error}}
            <div class="ui red message">Incorrect email, try again.</div>
            {{/if}}
            <div class="field">
                <label for="email" style="color: white;">Email</label> <input placeholder="Email" type="email"
                    name="email" autofocus required>
            </div>
            <button class="ui blue submit button" id="loginButton">Reset Password</button>
            <div class="ui centered column grid" style="margin-top: 20px;">
                <a class="ui secondary button" href="/">Back to Login</a>
            </div>
        </form>
    </div>
