{{> menu}}

<form class="ui stacked segment form" action="/newpassword" method="POST" style="max-width: 400px; margin: 50px auto; background-color: #1A1D24; padding: 20px; border-radius: 10px;">
    <h3 class="ui header">New Password</h3>

    {{#if error}}
        <div class="ui red message">Passwords do not match, try again.</div>
    {{/if}}

    <div class="field">
        <label>New Password</label>
        <input type="password" name="newPassword" placeholder="Enter new password" required>
    </div>
    <div class="field">
        <label>Confirm New Password</label>
        <input type="password" name="confirmPassword" placeholder="Confirm new password" required>
    </div>

    <div style="text-align: center;">
        <button class="ui blue submit button" style="width: 150px;">Change Password</button>
    </div>
</form>