{{!--
    Start/Welcome page view.
    Displays the app logo and a welcome message to the user.
--}}

{{> menu}} {{!-- Render the shared navigation menu partial --}}

<section class="ui center aligned middle aligned segment">
    <img src="/PG_logo.png" alt="App Logo" style="width: 500px; height: auto;"> {{!-- Display the app logo --}}
    <h2>Welcome to the Photo Gallery App!</h2>
    <p>
        This app will allow users to create and maintain a collection of photo galleries.
    </p>

</section>